[Desktop Entry]
Version=1.0
Type=Application
Name=Axsem Code::Blocks IDE
Comment=Configurable and extensible IDE
Exec=axcodeblocks %F
Icon=axcodeblocks
Terminal=false
X-MultipleArgs=false
Categories=Development;IDE;GTK;
StartupNotify=true
MimeType=application/x-axcodeblocks;application/x-axcodeblocks-workspace;
